[Unit]
Description=SecondDeal Gunicorn Daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/seconddeal
EnvironmentFile=/home/ubuntu/seconddeal/.env
ExecStart=/home/ubuntu/seconddeal/venv/bin/gunicorn \
    --workers 3 \
    --bind 127.0.0.1:8000 \
    --access-logfile /var/log/gunicorn/access.log \
    --error-logfile /var/log/gunicorn/error.log \
    config.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
